@font-face{
  font-family: SlimJoe;
  src:url("font/Slim Joe.otf");
}

@font-face{
  font-family: Cubano;
  src:url("font/Cubano-Regular.otf");
}

@font-face{
  font-family: Lato_Light;
  src:url("font/Lato-Light.ttf");
}

@font-face{
  font-family: Lato_Med;
  src:url("font/Lato-Medium.ttf");
}