.mainheader{
  font-size: 1.3em;
  position: fixed;
  z-index: 50; 
  width: 100%;
  top: 0;

    @media #{$mobileBreak}{
     position: relative;
     background: $darkGrey;
    }

  #header-wrapper {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    max-width: $content-width;
    margin: 0 auto;
      @media #{$mobileBreak}{
        justify-content: center;
        background: none;
      }
      @media #{$tabletBreak}{
        flex-direction: column;
      }

    h1{
      font-family: $fontLuna;
      font-size: 24px;
      line-height:36px;
      width: 100%;
      margin:3% auto;


      a,
      a:link, a:visited{
        text-decoration: none;
        color: $peach;
      }

        @media #{$mobileBreak}{
          text-align: center;
        }
        @media #{$tabletBreak}{
          text-align:center;
          padding-top:10px;
        }
    }

    .smaller_nav_logo {
      width: 80%;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      padding-top: 10px; 
    }

    .hide{
      @media #{$mobileBreak}{
        bottom:-4em !important;
      }

    }

    #primary-menu{
      width: 100%;
      @media #{$mobileBreak}{
        background: $white;
        border-top: 4px solid $purple;
        bottom: 0;
        left:0;
        padding: 0.1rem 0;
        position: fixed;
        opacity: 1;
        transition: all ease-out 400ms;
      }
      @media #{$tabletBreak}{
       
      }

      ul{
        display: flex; 
        justify-content: flex-end;
        list-style: none;
        color: $purple;
        width: 100%;
        @media #{$mobileBreak}{
          justify-content: space-between;
          font-size: 16px;
        }
        @media #{$tabletBreak}{
          flex-direction: row;
          justify-content: space-between;
          font-size: 20px;
          
        }

        #emptyLink{
          display: none;
        }

        #nav_blog{
          @media #{$mobileBreak}{
            display: none;
          }
        }

        li {
          font-family: $fontSlimJoe;
          text-decoration: none; 
          padding-right: 3%;

          .current{
            color: dodgerblue;
          }
        }  
      }

      a:link, a:visited{
        color: $purple; 
        height: 30px;
        text-decoration: none; 
      }

      a:hover, a:active{
        color: $peach; 
      }

    }
  }
}

.smaller_nav{
  background: $white;
  opacity: .9;
  transition: opacity .25s ease-in-out;
     @media #{$mobileBreak}{
     justify-content: center;
     opacity: 1;
     background: $darkGrey;
    }
}

