@import 'normalize.css';
@import 'fonts';
@import 'varibles';
@import 'navBar';
@import 'topContent'; 
@import 'about';
@import 'work';
@import 'footer';



/*------GLOBAL ----------*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html{
  font-size: 100%; /* 16px*/

}

body{
	background-color: $purple; 

}

h1{
  font: normal 4rem/1 $fontCubano;
  @media #{$mobileBreak}{
    font: normal 3rem/2.5 $fontCubano;
  }
  @media #{$tabletBreak}{

  }
}

h3{
  font: normal 2.5rem/1 $fontCubano;
  @media #{$mobileBreak}{
    font: normal 1.5rem/1 $fontCubano;
  }
  @media #{$tabletBreak}{

  }
}

p{
  font: normal 1.5rem/2.5rem $fontBody;
  @media #{$mobileBreak}{
    font: normal 1rem/1.25rem $fontBody;      
  }
  @media #{$tabletBreak}{

  }
  
}










/******* MY EXPERIENCE*******/
/* #my_experience  {
  z-index: -2;
  position: relative;
  margin-top: 100px; 
}

#my_experience .skew:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 100px;
  background: #d0d1d4;
  box-sizing: border-box;
  border-bottom: #8f8e92 solid 10px;
  z-index: -50;
	-webkit-transform: skewY(4deg);
 	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
    -webkit-backface-visibility: hidden;
}

#experience {
	font-family: Slim Joe, Helvetica, sans-serif; 
	font-size: 9vw;
	color: #8f8e92;
	position: absolute;
	transform: rotate(4deg);
	opacity: .4;
	bottom: 40px;
	margin: 0 auto;
} */


































