/*------COLORS-------*/
/*------MEDIA QUERIES-------*/
@font-face {
  font-family: SlimJoe;
  src: url("font/Slim Joe.otf"); }
@font-face {
  font-family: Cubano;
  src: url("font/Cubano-Regular.otf"); }
@font-face {
  font-family: Lato_Light;
  src: url("font/Lato-Light.ttf"); }
@font-face {
  font-family: Lato_Med;
  src: url("font/Lato-Medium.ttf"); }
.mainheader {
  font-size: 1.3em;
  position: fixed;
  z-index: 50;
  width: 100%; }
  @media only screen and (max-width: 520px) {
    .mainheader {
      position: relative;
      background: #8f8e92; } }
  .mainheader #header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    max-width: 1220px;
    margin: 0 auto; }
    @media only screen and (max-width: 520px) {
      .mainheader #header-wrapper {
        display: flex;
        justify-content: center;
        background: none; } }
    @media only screen and (min-width: 520px) and (max-width: 805px) {
      .mainheader #header-wrapper {
        flex-direction: column; } }
    .mainheader #header-wrapper img {
      width: 100%;
      height: auto;
      padding-top: 40px;
      padding-bottom: 10px; }
      @media only screen and (max-width: 520px) {
        .mainheader #header-wrapper img {
          width: 100%;
          min-width: 170px;
          padding-top: 20px;
          align-content: center; } }
      @media only screen and (min-width: 520px) and (max-width: 805px) {
        .mainheader #header-wrapper img {
          width: 100%;
          min-width: 170px;
          padding-top: 20px; } }
    .mainheader #header-wrapper .smaller_nav_logo {
      width: 80%;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      padding-top: 10px; }
    .mainheader #header-wrapper #primary-menu {
      width: 100%; }
      @media only screen and (max-width: 520px) {
        .mainheader #header-wrapper #primary-menu {
          background: #ffffff;
          border-top: 4px solid #802657;
          bottom: 0;
          left: 0;
          padding: 0.1rem 0;
          position: fixed;
          width: 100%;
          opacity: 1; } }
      .mainheader #header-wrapper #primary-menu ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        color: #802657;
        width: 100%; }
        @media only screen and (max-width: 520px) {
          .mainheader #header-wrapper #primary-menu ul {
            padding-left: 0;
            justify-content: space-between; } }
        @media only screen and (min-width: 520px) and (max-width: 805px) {
          .mainheader #header-wrapper #primary-menu ul {
            flex-direction: row;
            justify-content: space-between;
            padding: 0; } }
        @media only screen and (max-width: 520px) {
          .mainheader #header-wrapper #primary-menu ul #nav_blog {
            display: none; } }
        .mainheader #header-wrapper #primary-menu ul li {
          font-family: SlimJoe, Helvetica, sans-serif;
          text-decoration: none;
          padding-right: 3%; }
          .mainheader #header-wrapper #primary-menu ul li .current {
            color: dodgerblue; }
      .mainheader #header-wrapper #primary-menu a:link, .mainheader #header-wrapper #primary-menu a:visited {
        color: #802657;
        height: 30px;
        text-decoration: none; }
      .mainheader #header-wrapper #primary-menu a:hover, .mainheader #header-wrapper #primary-menu a:active {
        color: #e3c3a7; }

.smaller_nav {
  background: #ffffff;
  opacity: .9;
  transition: opacity .25s ease-in-out; }
  @media only screen and (max-width: 520px) {
    .smaller_nav {
      justify-content: center;
      opacity: 1;
      background: #8f8e92; } }

.topcontent {
  z-index: -50;
  background: #8f8e92;
  position: relative; }
  .topcontent .skew {
    /* HELLO SAM */ }
    .topcontent .skew .topcontent_inner {
      max-width: 90%;
      margin: 0 10%; }
    .topcontent .skew .padding {
      padding-top: 20%; }
      @media only screen and (max-width: 520px) {
        .topcontent .skew .padding {
          padding-top: 15%; } }
      @media only screen and (min-width: 520px) and (max-width: 805px) {
        .topcontent .skew .padding {
          padding-top: 5%; } }
    .topcontent .skew .paddingSmall {
      padding-top: 15%; }
      @media only screen and (max-width: 520px) {
        .topcontent .skew .paddingSmall {
          padding-top: 10%; } }
      @media only screen and (min-width: 520px) and (max-width: 805px) {
        .topcontent .skew .paddingSmall {
          padding-top: 1%; } }
  .topcontent h1 {
    color: #FFFFFF;
    font-family: Cubano, Impact, sans-serif;
    font-size: 3.5rem;
    /* target px (24) / body font size (16)*/
    line-height: 1em; }
    @media only screen and (max-width: 520px) {
      .topcontent h1 {
        padding: 1% 0 0 0;
        margin: auto 10%;
        font-size: 3rem; } }
    @media only screen and (min-width: 520px) and (max-width: 805px) {
      .topcontent h1 {
        padding: 25% 0 0 0; } }

.about_content {
  z-index: -1;
  position: relative;
  height: 100%;
  background: #ffffff;
  /*HELLO I AM SAM*/
  /*ABOUT ME*/
  /*     .aboutME{
        transition: all 0.5s ease;
        position: absolute;
        font-family: $fontCubano;
        font-size: 3.5em;
        color: $purple;
        transform: rotate(-4deg);
        right:40%;
        top: -120px;
  
  
          @media only screen and (max-width:520px){
            font-size: 2.5rem;
            top: -105px;
          }
          @media only screen and (min-width: 520px) and (max-width:805px){
            right: 45%;
          }
      } */ }
  .about_content::before {
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -100px;
    height: 200px;
    background: #ffffff;
    border-top: 4px solid #e3c3a7;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-backface-visibility: hidden; }
  .about_content::after {
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -80px;
    height: 200px;
    background: #ffffff;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-backface-visibility: hidden; }
  .about_content .hello {
    width: 95%;
    height: 100px;
    position: absolute;
    transform: rotate(-4deg);
    top: -200px; }
    .about_content .hello h3 {
      font-family: SlimJoe, Helvetica, sans-serif;
      font-size: 3rem;
      line-height: 0;
      color: #ffffff;
      right: 10%;
      bottom: 18px;
      margin: 0;
      position: absolute; }
      @media only screen and (max-width: 520px) {
        .about_content .hello h3 {
          right: 1%;
          bottom: 15px;
          font-size: 2rem; } }
      @media only screen and (min-width: 520px) and (max-width: 805px) {
        .about_content .hello h3 {
          right: 5%; } }
      @media only screen and (min-width: 1220px) {
        .about_content .hello h3 {
          right: 15%; } }
  .about_content .flex_container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto; }
    @media only screen and (max-width: 520px) {
      .about_content .flex_container {
        flex-direction: column; } }
    @media only screen and (min-width: 520px) and (max-width: 805px) {
      .about_content .flex_container {
        flex-direction: column; } }
    .about_content .flex_container .flex_item {
      width: 50%;
      /*THIS IS WHAT I DO*/ }
      @media only screen and (max-width: 520px) {
        .about_content .flex_container .flex_item {
          width: 100%; } }
      @media only screen and (min-width: 520px) and (max-width: 805px) {
        .about_content .flex_container .flex_item {
          width: 100%; } }
      .about_content .flex_container .flex_item h1 {
        font-size: 4rem;
        line-height: 1em;
        font-family: Cubano, Impact, sans-serif;
        color: #802657;
        margin: 0; }
        @media only screen and (max-width: 520px) {
          .about_content .flex_container .flex_item h1 {
            font-size: 3rem;
            line-height: 2.5rem; } }
      .about_content .flex_container .flex_item p {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #802657; }
        @media only screen and (max-width: 520px) {
          .about_content .flex_container .flex_item p {
            font-size: 1rem;
            line-height: 1.25rem;
            width: 100%; } }

.work_content {
  z-index: -75;
  height: 100%; }
  .work_content .skew .JS_work {
    padding-top: 20%;
    text-align: center; }
    .work_content .skew .JS_work ul {
      color: #ffffff;
      font-size: 2rem;
      line-height: 2.5rem;
      list-style: none;
      text-decoration: none; }
      .work_content .skew .JS_work ul li a:link, .work_content .skew .JS_work ul li a:visited {
        color: #ffffff; }
      .work_content .skew .JS_work ul li a:hover, .work_content .skew .JS_work ul li a:active {
        color: #e3c3a7; }

#github_button {
  background: #8f8e92;
  height: 100%;
  width: auto;
  margin: 7% 0 10% 60%;
  text-decoration: none;
  border-radius: 10px;
  font-family: Cubano, Gotham Black, sans-serif;
  font-size: 2em;
  color: #FFF;
  border: none;
  padding: 2%; }

#github_button a:link, #github_button a:visited {
  color: #FFF;
  display: inline-block;
  height: 30px;
  text-decoration: none; }

/*------GLOBAL ----------*/
html {
  font-size: 100%;
  /* 16px*/ }

body {
  background-color: #802657;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1em;
  text-align: left;
  width: 100%; }

.detailbody {
  margin: 0 auto;
  width: 100%; }

/******* MY EXPERIENCE*******/
/* #my_experience  {
  z-index: -2;
  position: relative;
  margin-top: 100px; 
}

#my_experience .skew:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 100px;
  background: #d0d1d4;
  box-sizing: border-box;
  border-bottom: #8f8e92 solid 10px;
  z-index: -50;
	-webkit-transform: skewY(4deg);
 	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
    -webkit-backface-visibility: hidden;
}

#experience {
	font-family: Slim Joe, Helvetica, sans-serif; 
	font-size: 9vw;
	color: #8f8e92;
	position: absolute;
	transform: rotate(4deg);
	opacity: .4;
	bottom: 40px;
	margin: 0 auto;
} */
/*------RESUME ----------*/
.resume_content {
  z-index: -3;
  position: relative;
  height: 700px;
  background: #e3c3a7;
  margin-top: 50px;
  padding: 15% 5% 0 5%; }

.resume_content .skew:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -60px;
  overflow: visible;
  width: 100%;
  height: 200px;
  background: #e3c3a7;
  box-sizing: border-box;
  border-bottom: #8f8e92 solid 10px;
  z-index: -50;
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-backface-visibility: hidden; }

.resume_content .job {
  max-width: 500px;
  padding: 0;
  margin-bottom: 5%; }

.resume_content .job h4 {
  font-family: Cubano, Gotham Black, sans-serif;
  color: #802657;
  font-size: 1.5em;
  margin: 0; }

.resume_content .job h5 {
  font-family: SlimJoe, Helvetica, sans-serif;
  color: #FFF;
  font-size: 1em;
  line-height: 1.2em;
  margin: 2% 0 1% 0; }

.resume_content .job ul {
  padding: .5%;
  padding-left: 5%;
  color: #8f8e92; }

.resume_content .job ul li {
  font-size: 1.1em; }

.resume_content #job2, .resume_content #job4 {
  margin-left: 8%; }

/*------Blog ----------*/
.blog_content {
  width: 100%;
  color: #FFFFFF;
  padding-left: 0;
  font-family: Slim Joe, Helvetica, sans-serif;
  z-index: -5;
  position: relative;
  height: 400px;
  top: 100px;
  background: #802657;
  padding-bottom: 4%; }

/*------Footer ----------*/
#mainfooter {
  z-index: 1000;
  height: 100%;
  background: #e3c3a7;
  position: relative; }
  #mainfooter footer p {
    text-align: center;
    color: #8f8e92;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
    padding-bottom: 10%; }
    @media only screen and (max-width: 520px) {
      #mainfooter footer p {
        padding-bottom: 20%; } }

footer {
  height: 0; }

/*# sourceMappingURL=style.css.map */
