$fontSlimJoe: SlimJoe, Helvetica, sans-serif;
$fontCubano: Cubano, Impact, sans-serif;
$fontBody: Arial, Tahoma, sans-serif;


/*------COLORS-------*/
$peach: #e3c3a7;
$lightGrey: #d0d1d4;
$purple: #802657;
$darkGrey: #8f8e92;
$white: #ffffff;

/*------MEDIA QUERIES-------*/
$mobileBreak: "only screen and (max-width:520px)";
$tabletBreak: "only screen and (min-width: 520px) and (max-width:805px)";
$largeDesktop: "only screen and (min-width:1220px)";
