$fontSlimJoe: SlimJoe, Helvetica, sans-serif;
$fontCubano: Cubano, Impact, sans-serif;
$fontBody: Lato_Light, Tahoma, sans-serif;


/*------COLORS-------*/
$peach: #e3c3a7;
$lightGrey: #d0d1d4;
$purple: #802657;
$darkGrey: #8f8e92;
$white: #ffffff;

/*------MEDIA QUERIES-------*/
$mobileBreak: "only screen and (max-width:480px)";
$tabletBreak: "only screen and (min-width: 481px) and (max-width:768px)";
$desktop: "only screen and (min-width: 769px) and (max-width:1219px)";

$largeDesktop: "only screen and (min-width:1220px)";
