$fontSlimJoe: SlimJoe, Helvetica, sans-serif;
$fontCubano: Cubano, Impact, sans-serif;
$fontBody: Lato, Tahoma, sans-serif;
$fontLuna: Luna, Tahoma, sans-serif;

/*------SIZE-------*/
$content-width: 1450px;
$large-content-width: 2000px;

/*------COLORS-------*/
$peach: #e3c3a7;
$lightGrey: #d0d1d4;
$purple: #802657;
$darkGrey: #8f8e92;
$white: #ffffff;

/*------MEDIA QUERIES-------*/
$mobileBreak: "only screen and (max-width:480px)";
$tabletBreak: "only screen and (min-width: 481px) and (max-width:1087px)";
$desktop: "only screen and (min-width: 1088px) and (max-width:1219px)";
$largeDesktop: "only screen and (min-width:1220px) and (max-width:1740px)";
$columnBreak: "only screen and (min-width: 930px) and (max-width:1463px)";
