.work_section {
  z-index: -75;
  height: 100%;
  color: $white;

  h1{
    text-align: center;
  }

  .work_title1{
    padding: 15% 0 5% 0; 
  }

  #front_work{

    .works{
      display: inline-block;
      background: red;
      font-size:45px;
    }

    .current{
      background: blue;
    }
  }

  .work-content-container{
    .frontend_work{
      max-width: 1220px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @media #{$mobileBreak}{
        flex-direction: column;
      }
      @media #{$tabletBreak}{
        flex-direction: column;
      }

      .description{
        flex: 1;
        h3{
          margin: 0;
        }
      }


      .image{
        flex: 2;
        img{
          width: 100%;
          height: auto;
        }
      }
      
    }
  }
}

#github_{
  
  z-index:50;
}
#github_button{
  background: #8f8e92;
  height: 100%;
  width: auto;
  margin: 7% 0 10% 60%;
  text-decoration: none;
  border-radius: 10px;
  font-family: Cubano, Gotham Black, sans-serif;
  font-size: 2em;
  color: #FFF;
  border: none;
  padding: 2%;
}

#github_button a:link, #github_button a:visited{
  color: #FFF; 
  display: inline-block; 
  height: 30px;
  text-decoration: none; 
}
