<section id="about_content" class = "about_content">   
	<a name="about"> 
			<div class = "hello">
				<h3>HELLO. I AM SAM.</h3>
			</div>    
			<div class = "flex_container">
				<div class ="flex_item" id="title">
					<h1>Front-End Development</h1> 
					<h1>UI/UX Design</h1> 
					<h1>Graphic Design</h1> 
					<h1>Project Management</h1> 
				</div>
				<div class ="flex_item" id="what_i_do">
					<p> I currently work as an sign estimator and project manager at a construction company. With the information I gather from architectural plans, I generating cost decisions based on labor and material, while communicating with several clients to complete each individual's scope of work. I am frequently commended on my diversity in many areas and my adaptability in arising situations. I assemble the necessary steps to obtain a smooth operation while allowing flexibility within the plan. I enjoy searching for ways to improve things, whether it is in my daily routine or finding solutions to help with work flow. </p>
				</div>
	
</section>