<section id = "mainfooter">
	<a name="contact">
		<footer>
			<?php date_default_timezone_set('UTC');?>
			<div>
				<p class="copyright"> &copy; <?php echo date('Y')?> Samantha Bretous</p>
			</div>

			<ul>
				<li><a href="https://twitter.com/samanthabretous" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://github.com/samanthabretous" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a href="sam@samanthabretous.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
			</ul>

	</footer>
<section>

		
</body>
</html>