@media only screen and (min-width: 150px) and (max-width:520px)
{
	.detailbody {
		width: 100%;
		margin: auto; 
		font-size: 80%; 
	}
	.mainheader img{
		width: auto; 
		height:155px;
		padding: 20px;
		position: relative;		
	}
	
	.mainheader nav{
		font-size: 30px; 
		line-height: 30px; 
		margin-bottom: 0; 
	}
	
	.mainheader nav ul{
		padding-left: 0;
	}

	.mainheader nav ul .nav_link{
		padding: 10px 0;
	}
	.mainheader nav ul #nav_work{
		margin-top: 80px;
	}
	
	.mainheader nav ul li{
		margin: 0 auto; 
		width: 100%;
	
	}
	
	.mainheader nav a:link, .mainheader nav a:visited{
		display: block; 
	}




/*TOP CONTENT*/
	.topcontent{
		margin: 0;
		padding: 0;
	}
	
	.topcontent .skew h3{
		font-family: Slim Joe, Helvetica, sans-serif; 
		font-size: 4vw;
		color: #FFF;
		position: absolute;
		transform: rotate(-4deg);
		margin-left: 55%;
		margin-top: 10%;
	}

	.topcontent-inner {
		max-width: 100%;
		margin: 0;
		padding-top: 0%;
	}

	.topcontent-inner h1{
		font-size: 64px;
		margin: 0;

	}
	
	.bottomcontent{
		padding: 3%;
	}
	
	.bottomcontent p img{
		width: 50%; 
		height: auto; 
		
	}

	.mainfooter{
		width: 100%;
	]

}